<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXM3VJRZKaYVZrRdl2ogoiLvnkZ2_EIVw</string>
	<key>GCM_SENDER_ID</key>
	<string>188009461742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.root.app.ROOT</string>
	<key>PROJECT_ID</key>
	<string>root-797ca</string>
	<key>STORAGE_BUCKET</key>
	<string>root-797ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188009461742:ios:050068bff093833b8f00ff</string>
</dict>
</plist>